<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7fb91b79-d6ac-4547-8aac-36b3f17f6335" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7fb91b79-d6ac-4547-8aac-36b3f17f6335fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
